.cardProduct {
    padding: 12px;
    width: calc(25% - 20px);
    border: 1px solid rgb(241, 230, 230);
  }
  
  .productShowcasing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-top: 3%;
  }
  